@import "tailwindcss";
@config "../tailwind.config.js";
@import "flag-icons/css/flag-icons.min.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overscroll-behavior: none;
}
